/**
 * common.css
 *
 * Copyright (c) 2003-2009 John Willinsky
 * Distributed under the GNU GPL v2. For full terms see the file docs/COPYING.
 *
 * Site-wide shared stylesheet.
 *
 * $Id: common.css,v 1.71.2.1 2009/04/08 19:43:30 asmecher Exp $
 */

/**
 * Common HTML elements
 */

body {
	margin: 0;
	padding: 0;
	background:white url(/public/site/body_bkg.jpg) repeat-x 0px 150px;
	color: #111;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	text-align: center;
}

#bkg{
        margin:0 auto;
        background:white;
}

div {
	line-height: 140%;
	text-align: left;
}

table {
	border: 0;
	border-spacing: 0;
	font-size: 1.0em;
}

form {
	margin: 0;
}

a {
	text-decoration: underline;
}

a:link {
	color: #666666;
}

a:active {
	color: #666666;
}

a:visited {
        color: #666666;
        
	
}

a:hover {
	color: #d15c00;
	text-decoration:underline !important;
}

a.plain {
	text-decoration: none;
}

ul {
	margin: 0.25em 0 0.75em 0;
	padding: 0 0 0 2.5em;
}

ul li a{
        text-decoration:none;
}

tt {
	font-size: 1.25em;
}

label {
}

label.error {
	color: #900;
}

input.textField, select.selectMenu, textarea.textArea, input.uploadField {
	background-color: #F0F0E8;
	color: #000;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	border-top: 2px solid #666;
	border-left: 2px solid #666;
	border-bottom: 2px solid #E8E8E1;
	border-right: 2px solid #E8E8E1;
	font-size: 1em;
}

input.button {
	padding-left: 0.5em;
	padding-right: 0.5em;
	background-color: #eeeeee ;
	color: #d15c00;
	font-size: 1em;
}

input.defaultButton {
	background-color: #eeeeee ;
	color: #d15c00;
	font-weight: bold;
}


/**
 * Main layout elements
 */

#container {
	width:100% !important;
	min-width: 900px !important;
	margin: 0px auto;
	line-height: 125%;
	text-align: center;
}

#header {
	width:100%;
        height:150px;
	background:#8a8a8a url(/public/site/header_bkg.jpg) repeat-x ;
	text-align: center;
}

#headerTitle {
	text-align: left !important;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

#header h1 {
	margin: 0 auto;
	padding: 0em 0 24px 10%;
	font-family: Georgia,'Times New Roman',Times,serif;
	font-weight: normal;
	line-height: 130%;
}

#footer {
	width: 100%;
	min-height: 50px;
	position: static;
	clear: both;
	background-color: #ABA;
	text-align: center;
}

#footerContent {
	width: 100%;
	margin: 0 auto;
	padding-left: 10%;
}

#main {
	padding: 0.5em 0em 2em 0em;
	width: 80%;
	margin: 0 auto;
}

#main h2 {
	margin: 0em 1em 0.5em 0em;
	padding-top: 0.5em;
	font-family: Georgia,'Times New Roman',Times,serif;
	font-weight: normal;
	line-height: 130%;
}

#main h3 {
	margin: 0em 1em 0.5em 0em;
	padding-top: 0em;
	font-family: Georgia,'Times New Roman',Times,serif;
	font-weight: normal;
}

#navbar {
	margin-right: 0;
	padding-bottom: 0.5em;
	border-bottom: 2px dotted #000;
}

#breadcrumb {
	padding-top: 1em;
	font-size: 0.7em;
}

#content {
	margin: 0;
	padding: 0;
	padding-top: 0.5em;
	font-size: 0.7em;
	border-top: 2px dotted #000;
}

#content h3 {
	margin: 0em 1em 0.25em 0em;
	padding-top: 0.75em;
	font-family: Georgia,'Times New Roman',Times,serif;
	font-weight: normal;
	font-size: 1.8em;
	line-height: 1.35em;
}

#content h4 {
	margin: .75em 1em 0.25em 0em;
	font-family: Georgia,'Times New Roman',Times,serif;
	font-weight: normal;
	font-size: 1.5em;
}

#content h5 {
	margin: 0em 1em 0.25em 0em;
	padding-top: 0.75em;
	font-weight: bold;
	font-size: 1em;
}


/**
 * Access icons and key
 */
#accessKey {
	margin-bottom: 2em;
}

#accessKey img {
	vertical-align: middle;
	margin: 0;
	padding: 0;
}

#content img.accessLogo {
	vertical-align: middle;
	margin: 0;
	padding: 0;
}


/**
 * Navigation bar
 */

#navbar a {
	font-size: 0.65em;
	letter-spacing: normal;
}

#navbar a:link {
        color: #666666;
	background: #eeeeee;
        padding:4px;
}

#navbar a:active {
        color: #666666;
	background: #eeeeee;
        padding:4px;
}

#navbar a:visited {
        color: #666666;
	background: #eeeeee;
        padding:4px;
}

#navbar a:hover {
        color: white;
	background: #d15c00;
        padding:4px;
        text-decoration:none !important;
}
/**
 * Breadcrumbs
 */

#breadcrumb a {
	text-decoration: none;
}

#breadcrumb a.current {
        color:#d15c00;	
        font-weight: bold;
}



/**
 * Announcements
 */

#announcementsHome {
	width: 100%;
	margin: 2em 0 2em 0;	
}

#announcementsHome h3 {
	text-align: center;
}

#announcements {
	width: 100%;
}

#announcements h3 {
	text-align: center;
}

table.announcements {
	width: 100%;
}

table.announcements td {
	padding: 0.25em 0.5em 0.25em 0.5em;
}

table.announcements td.nodata {
	text-align: center;
	font-style: italic;
}

table.announcements td.headseparator {
	border-top: 1px dotted #000;
	font-size: 0.1em;
	line-height: 1%;
}

table.announcements td.endseparator {
	border-top: 1px dotted #000;
	font-size: 0.25em;
	line-height: 10%;
}

table.announcements td.separator {
	border-top: 1px dotted #DDDDD0;
	font-size: 0.1em;
	line-height: 1%;
}

table.announcements tr.intro {
}

table.announcements td.intro {
}

table.announcements tr.title {
	vertical-align: top; 
}

table.announcements td.title {
	width: 85%;
}

table.announcements td.title h4 {
}

table.announcements tr.description {
	vertical-align: top;
}

table.announcements td.description {
	width: 85%;
}

table.announcements tr.details {
	vertical-align: bottom;
}

table.announcements td.posted {
	padding-top: 1em;
	font-style: italic;
}

table.announcements td.more {
	width: 15%;
	text-align: right;
}

table.announcementsMore {
	width: 100%;
}

table.announcementsMore td {
	padding-top: 1.5em;
	text-align: right;
}


/**
 * Table of contents
 */

h4.tocSectionTitle {
}

table.tocArticle {
	width: 100%;
}

table.tocArticle td.tocTitle {
	width: 70%;
	height: 100%;
}

table.tocArticle td.tocGalleys {
	width: 30%;
	text-align: right;
}

table.tocArticle td.tocAuthors {
	padding-left: 30px;
	font-style: italic;
	vertical-align: top;
}

table.tocArticle td.tocPages {
	text-align: right;
	vertical-align: top;
}

.tocArticleCoverImage img {
	border: 0;
	float: left;
	width: 100px;
	margin: 0 1em 1em 0;
}


/**
 * Homepage image
 */

#homepageImage img {
	display: block;
	margin: 0 auto;
	border: 0;
	text-align: center;
}

.homepageImage img {
	margin: 0 auto;
	border: 0;
	float: left;
	width: 100px;
	margin: 1em 1em 1em 0;
	text-align: center;
}


/**
 * Issue cover image
 */

#issueCoverImage img {
	display: block;
	border: 0;
}

.issueCoverImage img {
	border: 0;
	float: left;
	width: 100px;
	margin: 1em 1em 1em 0;
}

#issueCoverImage a:link, .issueCoverImage a:link {
}

#issueCoverImage a:active, .issueCoverImage a:active {
}

#issueCoverImage a:visited, .issueCoverImage a:visited {
}

#issueCoverImage a:hover, .issueCoverImage a:hover {
}


/**
 * Footer elements
 */

#footer div.debugStats {
	font-size: 0.6em;
}


/**
 * Additional text styles
 */

span.disabled, label.disabled {
	color: #666;
}
a.action, a.file {
	font-family:verdana;
    font-size: 10px;
    text-transform: uppercase;
	text-decoration:none;
	font-weight:100;
	color:#000000;
}

a:hover.action {
	color:#d15c00;
	text-decoration:underline;
} 

/*a.action, a.file {
font-family:verdana;
	font-size: 15px;
	text-transform: uppercase;
text-decoration:none;
font-weight:100;
color:;
border:1px solid lightgrey;
}

a:hover.action {
text-decoration:none !important;
border:1px solid #d15c00;
}
*/
a.icon {
	text-decoration: none;
}

a.icon img {
	border: 0;
}

a.icon:hover {
	background: none;
}

span.formRequired {
	color: #333;
	font-size: 0.9em;
}

span.instruct {
}

span.heading {
	font-size: 0.85em;
	text-transform: uppercase;
}

span.highlight {
	border-bottom: 1px dotted #000;
}

.nowrap {
	white-space: nowrap;
}

pre {
	background-color: #F0F0E8;
	color: #000;
	font-size: 1.25em;
}

/**
 * Table styles
 */

table.info {
}

table.info td {
	padding: 0;
	padding-bottom: 0.5em;
	padding-right: 0.5em;
}

table.listing {
}

table.listing tr.highlight {
	background: #FFFFFF; /*#FFFF99;*/
}

table.listing tr.highlight-red {
	background: #FF0000;
}
table.listing tr.highlight-green {
	background: #00FF00;
}

table.listing td {
	padding: 0.25em 1.5em 0.25em 0.5em;
}

table.listing tr.heading td, table.listing td.heading, table.info td.heading {
	font-size: 0.85em;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 120%;
	padding: 0.75em 1.5em 1em 0.5em;
}

table.listing tr.fastTracked {
	background-color: #ABA;
}

table.info td.heading {
	padding-left: 0;
}


table.listing td.nodata, table.info td.nodata {
	text-align: center;
	font-style: italic;
}

table.listing td.headseparator {
	border-top: 1px dotted #000;
	font-size: 0.1em;
	line-height: 1%;
}

table.listing td.endseparator {
	border-top: 1px dotted #000;
	font-size: 0.25em;
	line-height: 10%;
}

table.listing td.separator, table.info td.separator {
	border-top: 1px dotted #DDDDD0;
	font-size: 0.1em;
	line-height: 1%;
}

table.data {
}

table.data tr {
}

table.data td {
	padding-bottom: 0.25em;
}

table.data td.label {
	padding-right: 1em;
}

table.data td.value {
}

table.data td.separator {
	padding: 0.5em;
	font-size: 0.1em;
	line-height: 1%;
}

table.data td.heading {
	padding-left: 0;
	padding-right: 0;
}

table.nested tr {
	padding: 0;
	margin: 0;
}

span.nested {
	padding: 0 4px 0 0;
	font-size: 1.2em;
}

/**
 * Form-specific elements
 */

span.formError {
	color: #900;
	font-weight: bold;
	font-size: 1em;
}

ul.formErrorList {
	color: #900;
}


/**
 * Other organizational elements
 */

ul.menu {
	margin: 0;
	padding: 0;
}

ul.menu li {
	margin: 0;
	padding: 0;
	padding-right: 1em;
	display: inline;
}

ul.menu li.current {
	font-weight: bold;
}

ul.menu a {
	font-size: 0.85em;
	text-transform: uppercase;
	text-decoration: none;
}

ul.steplist {
	margin: 0;
	padding: 0;
	list-style-type: decimal;
}

ul.steplist li {
	margin: 0;
	padding: 0;
	font-size: 0.85em;
	padding-right: 0.5em;
	display: inline;
	text-transform: uppercase;
}

ul.steplist li.current {
	font-weight: bold;
}

ul.steplist a {
	text-decoration: none;
}

ul.plain {
	list-style-type: none;
	padding-left: 1.5em;
}

ul.filter {
	margin: 0;
	padding: 1.5em 0 1.5em 0;
	list-style-type: none;
}

ul.filter li {
	padding-right: 1.5em;
	display: inline;
}

div.separator {
	width: 100%;
	margin-top: 1em;
	margin-bottom: 0.25em;
	padding: 0;
	border-bottom: 1px dotted #000;
	font-size: 0.5em;
	line-height: 25%;
}

div.progressbar {
	background-image: url(../templates/images/progbg.gif);
	background-repeat: no-repeat;
	height: 27px;
	width: 505px;
	z-index:1;
}

.data p{
margin-top:0;
margin-top:2px;
}

.data input{
margin-left:20px;
}

.gender{
display:none;
}

/*******************CUSTOM********************/
.step1 {
	background: #faecdf;
}
.step2 {
	background: #f8e3d0;
}
.step3 {
	background: #f3d2b7;
}
.step4 {
	background: #eebe9a;
}
.step5 {
	background: #e9aa7c;
}
.step6 {
	background: #e3965e;
}
.step7 {
	background: #df8849;
}
.step8 {
	background: #dd7e3a;
}

.txt_larger {
	font-size: 1.5em;
}

 
/* In review - No Reveiwers - highlighting */ 
.highlight-noreviewers {
 	background: #FFCC99;
}
.highlight-somereviewsback {
	background: #99FFCC;
}
.highlight-modified {
	background: #CCCC99;	
}


.sectionEditorComment {
	width: 300px;
	height: 100px;
}

.highlight-editorNotified {
 	background: #CCFFFF;
}

.hide {
 	display: none;
}

.btn_resubmit {
	background: #eee;
	color: #222;
	border: 2px solid #bbb;
	padding: 8px 12px;
	text-decoration: none;
	font-weight: bold;
	margin: 10px 0 6px 0;
	display: block;
	width: 70px;
	text-align: center;
}
.btn_resubmit_inactive {
	display: none;
}
