{**
  * block.tpl
  *
  * Copyright (c) 2003-2011 John Willinsky
  * Distributed under the GNU GPL v2. For full terms see the file docs/COPYING.
  *
  * Common site sidebar menu -- "Developed By" block.
  *
  * $Id$
*}
<div class="block" id="sidebareditorSummary">
 	<a class="blockTitle" href="http://pkp.sfu.ca/ojs/" id="developedBy">editorSummary{translate key="common.openJournalSystems"}</a>
</div>